@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/content/tse.plugin.interfaceweb/wwwroot/lib/baixados.jpg" />
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
